.navbar-brand img {
  width: 120px;
  margin: -8px;
}

.navbar-telefono {
  background-color: black;
  color: white!important;
  padding-left: 10px;
  padding-right: 10px;
  border-left: #CCCC17 4px;
}


.jumbotron {
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/header.png'); */
  background-color:transparent;
}

.jumbotron .card {
  border-radius: 0;
}
.jumbotron .card h1, h2 {
  line-height: 0.70;
  color: #CCCC17;
}

.jumbotron .brand h1 {
  line-height: 0.75;
  text-shadow: 0px 0px 10px black;
}

.jumbotron .title {
  color: #CCCC17;
}

nav.navbar {
  -webkit-box-shadow:0px 1px 5px #444;
 -moz-box-shadow:0px 1px 5px #444;
 box-shadow:0px 1px 5px #444;
}

body {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Bebas Neue', cursive;

}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay-background {
  /* background: rgba(0,0,0,.5); */
  background: #333;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -50;
  opacity: 0.35;
}

.section {
  min-height: 400px;
}

html {
	scroll-behavior: smooth;
}

a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}


.navbar-nav a.nav-link{
  text-transform: uppercase;
  padding: 0px !important;
}

ul.navbar-nav li.nav-item{
  margin: 0 20px;
}

ul.navbar-nav .nav-item:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-nav .nav-item:hover:after {
  width: 100%;
  background:#CCCC17;
}


.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -20;
}
.lines .line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  /* background: rgba(255, 255, 255, 0.1); */
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #CCCC17 75%, #CCCC17 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -20%;
}
.lines .line:nth-child(2) {
  margin-left: -40%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 20%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.lines .line:nth-child(4) {
  margin-left: 40%;
}
.lines .line:nth-child(4)::after {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* .extractores .card .card-header {
  background-color: #CCCC17;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.extractores .card .card-body p {
  margin-bottom: 0;
  line-height: 1.2;
}
.extractores .card .card-body {
  border-top: 1px solid rgba(0,0,0,.125);
}

.extractores .card {
  border: 0;
} */
.extractores .card .card-header {
  background-color: #CCCC17;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.extractores .card .card-body {
  padding: 0;
  padding-top: 4 px;
}

.card-extrac-ml {
  background-color: black;
}

.card, .card-header {
  border-radius: 1.25rem!important;
}

.card {
  height: 210px;
}

.card-extrac-info .card-body img {
  height: 100%;
}

.card-extrac-info {
  border: 0;
}


.card-extrac-ml img {
  max-width: 120px;
}

@media (max-width: 765px) {
  .card-extrac-info, .card-extrac-info .card-header {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
  }

  .card-extrac-img, .card-extrac-info, .card-extrac-info .card-header {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }

  .card-extrac-info {
    padding-bottom: 5px;
  }

  .card-extrac-ml {
    height: auto;
    border: 0;
  }

  .card-extrac-ml .btn {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-bottom-right-radius: 1.25rem!important;
    border-bottom-left-radius: 1.25rem!important;
  }
}
